@inherits UmbracoViewPage<IHeaderProperties>

<header id="header" style="background-image: url('@Model.Image.Url()'); width: 100%">
    <div class="container">

        <h1><a href="/">@Model.Title</a></h1>
        <h2>@Model.AboutMe</h2>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link active" href="/">Home</a></li>
                <li><a class="nav-link" href="#about">About</a></li>
                <li><a class="nav-link" href="#resume">Resume</a></li>
                <li><a class="nav-link" href="#portfolio">Portfolio</a></li>
                <li><a class="nav-link" href="#contact">Contact</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>

        <div class="social-links">
            <a href="@Model.Github" class="GitHub"><i class="bi bi-github"></i></a>
            <a href="https://www.linkedin.com/in/gvantsa-okropiridze-797540201/" class="linkedin"><i
                    class="bi bi-linkedin"></i></a>
        </div>

    </div>
</header>