<section id="resume" class="resume">
    <div class="container">

        <div class="section-title">
            <h2>Resume</h2>
            <p>Check My Resume</p>
        </div>

        <div class="row">
            <div class="col-lg-6">

                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Social &amp; Political Science</h4>
                    <h5>2019-2023</h5>
                    <p><em>Tbilisi State University</em></p>
                </div>
                <div class="resume-item">
                    <h4>Back End Development</h4>
                    <h5>2021-2022</h5>
                    <p><em>Orient Logic</em></p>

                </div>
            </div>
            <div class="col-lg-6">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>JUNIOR FULL-STACK DEVELOPER</h4>
                    <h5>2022 - Present</h5>
                    <p><em>RSI GEORGIA</em></p>
                    <p>
                    <ul>
                        <li>Reviewed code, debugged problems and corrected issues.</li>
                        <li>Contributed ideas and suggestions in team meetings and delivered updates on deadlines,
                            designs
                            and enhancements. </li>
                        <li>Worked with back-end developers to design APIs.</li>
                    </ul>
                    </p>
                </div>
                <div class="resume-item">
                    <h4>.NET INTERN</h4>
                    <h5>2021-2022</h5>
                    <p><em>CREDO BANK</em></p>
                    <p>
                    <ul>
                        <li>Designed, developed and deployed client-facing software.</li>
                        <li>Worked with developers to identify and remove software bugs.</li>
                        <li>Partnered with team members to learn best practices in software design.</li>
                        <li>Sat in on design team and planning meetings.</li>
                        <li>Wrote clear, clean code for various projects.</li>
                    </ul>
                    </p>
                </div>
                <div class="resume-item">
                    <h4>JUNIOR FRONT-END DEVELOPER</h4>
                    <h5>2021-2021</h5>
                    <p><em>SELF.GE</em></p>
                    <p>
                    <ul>
                        <li>Coded using HTML, CSS and JavaScript to develop features for both mobile and desktop
                            platforms.</li>
                        <li>Improved tools to boost user interaction and deliver design versatility.</li>
                        <li>Designed and updated layouts to meet usability and performance requirements.</li>
                    </ul>
                    </p>
                </div>
                <div class="resume-item">
                    <h4>FRONT END DEVELOPER INTERN</h4>
                    <h5>2021-2021</h5>
                    <p><em>GEOLAB</em></p>
                    <p>
                    <ul>
                        <li>Coded using HTML, CSS and JavaScript to develop features for both mobile and desktop
                            platforms.</li>
                        <li>Improved tools to boost user interaction and deliver design versatility.</li>
                        <li>Designed and updated layouts to meet usability and performance requirements.</li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>